*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  width: 100%;
  height: 100%;
}

.banner-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/About-banner.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner {
  text-align: center;
  color: white;
  height: auto;
  padding-bottom: 0.5%;
  margin-top: -1px;
  top: 50%;
  left: 50%;
}
.banner h1{
  padding-top: 35px;
  font-size: 5em;
}
.banner h3{
  padding-top: 2%;
  padding-bottom: 2%;
}


.card-stat {
  padding-top: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1% 2% 1% 2%;
  perspective: 800px;
  width: auto;
  height: 250px;
  flex: 3;
}

.main {
  text-align: center;
}
.main h1{
  padding-top: 2%;
  font-size: 2.5em;
  color: teal;
}

.stats h2{
  font-size: 3.5em;
  color: darkblue;
}

.stats p{
  font-size: 1.4em;
  color: #444;
  margin: 2% 2% 2% 2%;
}
.team p{
  font-size: 1.4em;
  color: #444;
  margin-left: 20%;
  margin-right: 20%;
}

.values-inner img {
  max-width: 100%;
  height: auto;
}

.press {
  display: block;
  margin-top: -1px;
  height: 300px;
  width: auto;
  background-color: #F3F9FF;
}
.press h1{
  text-align: center;
  color: #444;
  font-size: 1.8em;

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.member-wrap {
  min-width: 250px;
  max-width: 380px;
  height: 420px;
  perspective: 1000px;
  flex: 1;
  margin: 0 15px 30px;
}
.member {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.member-front, .member-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.member-front {
  background: linear-gradient(90deg,#80BD9E,#89DA59);
}
.member-back {
  transform: rotateY(180deg);
}
.member-wrap:hover .member {
  transform: rotateY(180deg);
}
.member-img {
  background-size: cover;
  background-position: center;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.member-info {
  padding: 20px 30px 30px;
}
.member-info span {
  font-size: 1rem;
  color: #444;
}
.member-info h2{
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 5px;
}
.member-back {
  background-color: #F98866;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  align-items: flex-start;  
  color: #444;
  line-height: 1.2;
  text-align: left;
}

.member-back p {
  margin-top: 0.2%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1em;
}

.member-back ul {
  margin-left: 10%;
  font-size: 1em;
}

.member-back a{
  text-decoration: none;
  color: #ffffff;
  background-color: #5678ba;
  padding: 10px 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 5px;
}
.container-about {
  max-width: 2400px;
  margin: auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container-stats {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card-stat {
    width: 94.5%;
    float: center;
    width: auto;
    margin: 3% 2% 4% 2%;
  }
  .banner h1 {
    font-size: 3em;
  }
  .banner h3 {
    font-size: 1em;
    margin-left: 3%;
    margin-right: 3%;
    line-height: 1.2;
  }
  .member-back p {
    font-size: 0.8em;
  }
  
  .member-back ul {
    font-size: 0.8em;
  }
  .div-values
{
    height: 500px;
    width: auto;
}
