
.banner{
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.header{font-family:Verdana;
  color:#071448;
  text-align: center;
  justify-content: center;
  font-size: larger;
  display: inline-block;}


.subheader{font-family:Verdana;
  color:#071448;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;}

.mapheader{font-family:Verdana;
  color:#071448;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;}

h5{font-family:Verdana;
  color:#071448;
text-align: center;}
p{font-family:Verdana;
  color:#071448;
text-align:center;}

.headerimg {
  height:300px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px 0px;
  text-align: center;
  line-height:80px;
  vertical-align: middle;
  padding-top: 80px;
}



.grid-container{
    display:flex;
    text-align:center;
    width:auto;
    justify-content: center;
    flex-wrap:wrap
}

.box{
  margin: 5px;
  width:300px;
  padding:20px;
  line-height:20px;
  position:relative;
  transition:1s;
}

.box:hover{
  transform:scale(1.3);
}

.map{
  width:100%;
  height:fit-content;
  padding:10px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.googlemap {padding:10px;}

